*{padding: 0;margin: 0;}
body{font:12px/1.5 "宋体";}
a{text-decoration: none;color:#000}
li{list-style: none;}
img{border:none;vertical-align:bottom;}
.clearfix:after{content: "\200b";display: block;height: 0;clear: both;}
.clearfix{*zoom: 1;}
.fl{float: left;}
.fr{float: right;}
/*公共样式*/
.wrapper{width: 1005px;margin:0  auto;}
/*头部*/
.top{height: 40px;background-color: #eaeaea;}
.top p{line-height: 40px;color: #686767;}

.radius{line-height: 38px;color: #686767;width:230px;height:26px;border-radius: 20px;background: #fff;margin-top: 7px;position: relative;}
.radius p{margin: 0 10px;margin-top: -5px;}
.radius img{ position:absolute ;top: 4px;right: 30px;}
/*banner*/
.banner{margin-top: 1px;}
/*<!--导航条-->*/
.nav{height: 50px;background-color: #007dff;margin-top: 4px;}
.nav li{display: inline-block;margin-top: 15px; margin-right:20px;}
.nav ul{margin-left: 20px;}
.nav li a{color: #FFFFFF;font-size: 16px;}

.bannerr{margin-top: 4px;margin-bottom: 15px;}

/*详细内容*/
.detalis{width: 510px;height: 890px;border: 1px solid #ccc;}
