*{ padding:0; margin: 0;}
body{ font: 14px/1.5 "微软雅黑";  margin:0  auto;}
a{text-decoration: none;color:#fff}
li{ list-style: none}
img{ border: none; vertical-align: middle;}
.clearfix:after{ content: "\200b"; display: block; height: 0; clear: both;}
 input{ border: none; outline: none;}
 .bg{width: 55px;height: 20px;}
 
 
/*公共*/
.wrapper{width: 1005px;margin: 0 auto;}


/*头部*/
.top{width: 100%;height: 40px;background-color: #eaeaea;}
.left{height: 40px;line-height: 40px;float: left;}
.left p{margin: 0 25px;}
.right{width: 230px;height:25px;border: 1px solid #ccc;border-radius: 10px;margin: 5px 25px;background:#fff;float: right;}
.search{background: url(../images/I-fdj.jpg) right no-repeat;margin-right: 5px;}
.search p{height: 23px;line-height: 23px;margin: 0 20px;}
/*banner*/

.banner{padding-bottom: 2px;}
/*nav*/
.nav{width: 1005px;height: 52px;background: #007dff;color:#FFFFFF;font: 16px "宋体";font-weight: bold;}
.nav ul{text-align: center;}
.nav li{display: inline-block;height: 52px;line-height: 52px;margin: 0 13px;}

/*pic*/
.pic{margin: 1px;text-align: center;border: 2px solid #ccc;}
/*main*/
.main{margin: 3px;float: left;}
.opening{width: 237px;}
.zwgk{width:237px;height: 76px;background: #1e4f94;text-align: center;line-height: 76px;border-radius: 2px 2px 0 0;padding-top: 12px;}
.zwgk h2{font: 18px "微软雅黑";color: #FFFFFF;margin: 10px;}
.zwgk p{font: 12px "微软雅黑";color: #FFFFFF;}
.slzc{width:237px;background: #007dff;height: 39px;padding-top: 24px;border-bottom: 1px solid #fff;}
.slzc h2{font: 16px "宋体";color: #FFFFFF;font-weight: bold;margin:0 18px;background: url(../images/L-wjj.jpg)  no-repeat right;}
.pic-left{width: 160px;float: left;}
.pic-right{width: 45px;float: right;}
.list{width:237px;background: #007dff ;height: 130px;color: #fff;border-bottom: 1px solid #FFFFFF;}
.littlelist li{ margin:10px 15px;text-align: center; text-align: left;}
.littlelist img{margin-right: 10px;}
.littlepic{width: 30px;float: left;}
.littlepic li{margin:10px 15px;}
.littlelist{width: 200px;float: right;}
/*联系我们*/
.contact{width: 237px;height: 313px;top: 10px;background:url(../images/yang.jpg)no-repeat center;text-align: center;padding-top:50px;}
.contact h3{font: 16px "微软雅黑";padding-top: 10px;}
.contact p{font: 12px "微软雅黑";}
.text{display:  block;width: 170px;margin: 0 28px;text-align: left;font: 14px "微软雅黑";color: grey;margin:5px 35px;}
/*新闻列表*/
.news{width:750px;height:815px;border: 1px solid#CCCCCC;float: right;margin: 3px auto;}
.news img{margin: 0 5px;}
.news p{font: 12px "微软雅黑";color: blue;margin: 10px 5px;}
.news li{width: 720px;margin: 20px 15px;border-bottom: 1px solid #CCCCCC;}
.news a{color: #545454;}
span{width: 150px;color: grey;text-align: right;right: 5px;float: right;margin: 0 25px;}
.box{width:750px;display: inline-block;font: 12px "宋体";color: #FFFFFF;margin: 0 5px 0 310px;}
.box li{width: 25px;height: 25px;background: #2160af;display: inline-block;line-height: 25px;text-align: center;margin: 10px 5px;}
.box li:last-child{width: 55px;}
.box li:first-child{width: 55px;}

   /*友情链接*/
.link{height: 100px; background-color: #d7edf5;width: 1005px;margin-top: 820px;margin-bottom: 15px; position: relative;top: 10px;}
.youq {background: url(../images/I-yqlj.jpg) no-repeat;width: 42px; height: 72px;position: absolute;top: 15px;left: 30px;font-size: 14px;}
.youq p{margin: 5px ;color:#38a7cf ;} 
.l-list ul{margin-left: 70px;float: left;margin-top: -35px;}
.l-list li{display: inline-block;margin:15px;margin-left: 25px;}
.l-list li a{color: #38a7cf;font-size: 12px;}



/*版权*/

.footer{background: url(../images/I-bq.jpg); height: 150px;width: 1005px;margin-bottom: 15px;}
.footer .ll{margin-left: 450px;font-size: 14px;padding-top: 20px;}
.footer p{margin-left: 300px;font-size: 14px;line-height: 30px;color: #414141;}


